*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

header{
    display: flex;
    background-color: lightgrey;
    padding: 5px;
    margin: 0px;
    height: 80px;
    position: fixed;
    width: 100%;
}

header h1{
    margin: 0px;
}
body {
    background-color: white;
}
header img {
    height: 80px;
}

.nav, nav{
    width: 50%;
    height: 100%;
}
nav a{
    color: black;
    text-decoration: none;
    font-size: 25px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Home, h1 {
    padding: 60px;
    text-align: center;
    font-size: 50px;
}
.Home h2 {
    padding: 30px;
    margin: 50px;
    font-size: 22px;
}

.main1, .main2{
    width: 50%;
    min-height: 400px;
}

.main2 img{
    width: 100%;
}

.main1 img{
    width: 100%;
}

.Roosters {
    font-size: 30px;
    padding: 20px;
    margin: 30px;
    display: flex;
}
    

.docenten-main{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap
}

.docenten-main h1{
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 30px;
    margin-top: 70px;
    color: var(--primary);
}

.pfp{
    border-radius: 99px;
    background-color: rgb(176, 176, 176);
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    overflow: hidden;
}

.pfp img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.row2{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.main1 h1 {
    font-size: 35px;
    text-align: center;
}

p {
    padding: 10px;
    font-size: 20px;
}

.Footer {
    background-color: lightgrey;
    text-align: center;
    padding: 15px;
}
.Versnellen h1 {
    font-size: 45px;
}

.Versnellen{
    display: flex;
    flex-direction: row;
}

.center-text {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.center-text p {
    margin-top: 10px;
}





@media only screen and (max-width: 780px) {
    .Roosters, .Versnellen{
        flex-direction: column;
    }
    .main1, .main2{
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .row2 {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .nav {
        display: none;
    }
}