*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    background-color: lightgrey;
    padding: 5px;
    height: 80px;
}
body {
    background-color: white;
}
header img {
    height: 80px;
}

.nav, nav{
    width: 50%;
    height: 100%;
}
nav a{
    color: black;
    text-decoration: none;
    font-size: 25px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
